* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-item {
    padding-top: 8px;
    display: block;
    text-align: center;
    color: white;
    font-family: Avenir Black;
    letter-spacing: 1.7px;
}
a:link {
  text-decoration: none;
}

body {
    background-color: black;
}
p {
    color: white;
    font-family: Avenir Light;
    
    width: 600px;
    margin: auto;  /*to actually center it */
    text-align: center;
    letter-spacing: 1.7px;

    padding-top: 0px;
    padding-bottom: 100px;
}
.slider {
    margin: 5% auto;
    margin-top: 170px;
    padding: 0;
    background-color: antiquewhite;
    border-radius: 10px; /*roundness*/
    height: 400px;
    width: 800px;
    box-shadow: 20px hsl(0, 0%, 3%);
    z-index: -1;
    
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
}
section {
    min-width: 800px;
    height: 400px;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    
    height: 400px;
    width: 800px;
}
section:nth-child(1) {
    background: url('https://i.imgur.com/RFYwafW.png');
    background-size: 100%;
}
section:nth-child(2) {
    background: url('https://i.imgur.com/H8JZgIf.jpg');
    background-size: 100%;
}
section:nth-child(3) {
    background: rgb(226, 192, 192);
}
section:nth-child(4) {
    background: rgb(236, 236, 149);
}
section:nth-child(5) {
    background: rgb(169, 176, 244);
}

h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    left: 0;
    font-size: calc(1rem + 3vw);
}
