body {
  font-family: Avenir Black;
  background-color: #000000;
}
a:link {
  text-decoration: none;
}
.nav-item {
  display: block;
  text-align: center;
  color: white;
  font-family: Avenir Black;
  letter-spacing: 1.7px;
}
h1 {
  color: white; /*transparent*/
  text-align: center;
  padding-top: 200px;
  margin-bottom: 0px;
  font-size: 100px;
  -webkit-background-clip: text;
}
h2 {
  font-family: Avenir Light;
  color: white;
  text-align: center;
  padding-bottom: 200px;
  letter-spacing: 8px;
  -webkit-background-clip: text;
}
/*h1, h2 {
  background-size: 100%;
  background-image: url('https://i.imgur.com/Z7SCD8P.png');
}
*/